// Body
$body-bg: #f8fafc;
$primary-color: #21262f;
$second-color: #313a46;
$ternary-color: #474f60;
$action-color: #16d199;
$finished-color: #fff;
$dark-mode-color: #2d333d;
$card-color-1: rgba(227, 227, 227, 0.29);
$card-color-2: rgba(196, 196, 196, 0.3);
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Admin
$text-color: #65778d;
