// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    min-height: calc(100vh - 55px);
    background: #f8fafc;
}

.dark {
    background-color: $dark-mode-color;

    #home-table {
        background-color: $second-color;
        color: $text-color;

        & table {
            color: $text-color;
            border-color: $text-color;

            & tbody {
                border-top: 2px solid $text-color;
            }

            & tbody, thead, tr, td {
                color: $text-color;
            }

            & thead tr th {
                color: $action-color;
            }
        }

        & .bar {
            background: linear-gradient(to top, #00ff92, #ffffff);
        }
    }
}

footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    & .title {
        border-bottom: 2px solid rgba(145, 133, 133, 0.823);
        margin: auto 30px;

        & h1 {
            padding: 0;
            color: #ffffff;
            margin: 12px 0;
        }
    }

    & .footer-links {
        margin: 40px 0;

        & ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            padding-right: 2rem;
            margin: 0 auto;

            & #menu {
                display: flex;
            }

            & li {
                margin: auto 30px;

                & a {
                    color: #ffffff;
                    display: flex;

                }

                & #social-midia {
                    color: #ffffff;
                    display: flex;
                    align-items: center;

                    & span {
                        margin-right: 5px;
                    }

                    & i {
                        font-size: 1.5rem;
                    }
                }
            }
        }

    }

    & .copyright {
        display: flex;
        justify-content: center;
        border-top: 2px solid rgba(145, 133, 133, 0.823);
        margin: auto 30px;

        & p {
            color: #fff;
        }
    }

}

.table > :not(caption) > * > * {
    border-bottom-width: unset;
}

thead, tbody, tfoot, tr, td, th {
    border-width: unset;
    font-size: 0.9rem;
}

thead, th {
    border-style: none;
}

.table > :not(:first-child) {
    border-top: 2px solid #dee2e6;
}


.form {
    margin: 50px 200px;
}
