// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (max-width: 770px) {
    main {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    #toggle {
        display: flex !important;
    }

    #main #app #content-table {
        display: none;
    }
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    min-height: calc(100vh - 55px);
    background: #f8fafc;
}

.dark {
    background-color: $dark-mode-color;

    .finish {
        background-color: $primary-color;
        color: $action-color;
    }
    .created {
        background-color: $primary-color;
        color: $action-color;
    }
    .inprogress {
        background-color: $primary-color;
        color: $action-color;
    }
    .expired {
        background-color: $primary-color;
        color: $action-color;
    }

    #content {

        & #box {

            & .card {
                box-shadow: 0 0 10px $text-color,
                5px 5px 10px $text-color;
                border-color: #2b2f39;

                & .card-header {
                    background-color: #2b2f39;

                    &.card-expired {
                        background-color: #2c313b;
                        color: $action-color;
                    }
                }

                & .card-body {
                    background-color: $second-color;
                }

                & .card-footer {
                    background-color: #2c313b;

                    & a, & form {
                        background-color: $primary-color;
                        color: $action-color;
                        border-color: $primary-color;

                        & i {
                            color: $action-color;
                        }

                        &:focus {
                            border-color: $action-color;
                            box-shadow: 0 0 0 0.25rem rgba(22, 209, 153, 0.50);
                        }

                        &:hover {
                            & i {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
    #table, #content-table {
        background-color: rgba(0, 0, 0, 0.03);
        color: $text-color;
        box-shadow: 0 0 10px $action-color,
        5px 5px 10px $action-color;

        & .header-table {

            & h4 {
                color: $action-color;
            }

            & a {
                background-color: $primary-color;
                color: $action-color;
            }

            #input {
                input {
                    background-color: $primary-color;
                    color: $action-color;
                    border-color: $text-color;
                }

                button {
                    background-color: $second-color;
                    border-color: $text-color;

                    & i {
                        color: $action-color;
                    }
                }
            }
        }

        & table {
            color: $text-color;
            border-color: $text-color;

            & tbody {
                border-top: 2px solid $text-color;
            }

            & tbody, thead, tr, td {
                color: $text-color;
            }

            & thead tr th {
                color: $action-color;
            }
        }

        & .bar {
            background: linear-gradient(to top, #00ff92, #ffffff);
        }
    }


}

footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    & .title {
        border-bottom: 2px solid rgba(145, 133, 133, 0.823);
        margin: auto 30px;

        & h1 {
            padding: 0;
            color: #ffffff;
            margin: 12px 0;
        }
    }

    & .footer-links {
        margin: 40px 0;

        & ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            padding-right: 2rem;
            margin: 0 auto;

            & #menu {
                display: flex;
            }

            & li {
                margin: auto 30px;

                & a {
                    color: #ffffff;
                    display: flex;

                }

                & #social-midia {
                    color: #ffffff;
                    display: flex;
                    align-items: center;

                    & span {
                        margin-right: 5px;
                    }

                    & i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.copyright {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(145, 133, 133, 0.823);
    margin: auto 30px;

    & p {
        color: #fff;
    }
}


.table > :not(caption) > * > * {
    border-bottom-width: unset;
}

thead, tbody, tfoot, tr, td, th {
    border-width: unset;
    font-size: 0.9rem;
}

thead, th {
    border-style: none;
}

.table > :not(:first-child) {
    border-top: 2px solid #dee2e6;
}


.form {
    margin: 50px 200px;
}
