// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.finish {
    background-color: #c7f5d9;
    padding: 2px 8px;
    color: #00b66c;
    border-radius: 12px;
}

.inprogress {
    background-color: #ffebc2;
    padding: 2px 8px;
    color: #ff9300;
    border-radius: 12px;
}

.created {
    background-color: #cfe0fc;
    padding: 2px 8px;
    color: #5e81ff;
    border-radius: 12px;
}

.expired {
    background-color: #ffc1c1;
    padding: 2px 8px;
    color: #ff0000;
    border-radius: 12px;
}

#content-table {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(192, 192, 192, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc,
                5px 5px 10px #ccc;

    & .header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #a0aec0;

        & h4 {
            color: #464553;
        }

        & .assignment-button {
            margin: 0 0 10px 0;
            background-color: #a0aec0;
            border-color: rgba(65, 65, 65, 0.19);
        }
    }

    & table {
        margin: 0;

        & thead {
            border-color: transparent;

            & tr {

                & th:nth-child(1) {
                    text-align: center;
                    width: 50px;
                }

                & th:nth-child(2) {
                    width: 120px;
                    text-align: center;
                }

                & th:nth-child(4) {
                    width: 150px;
                    text-align: center;
                }

                & th:nth-child(5) {
                    width: 200px;
                    text-align: center;
                }

                & th:nth-child(6) {
                    text-align: center;
                }
            }
        }

        & #assignments-table {
            vertical-align: unset;

            & tr {

                #name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }

                & td:nth-child(1) {
                    width: 50px;
                    text-align: center;
                }

                & td:nth-child(2) {
                    width: 120px;
                    text-align: center;
                }

                & td:nth-child(4) {
                    width: 50px;
                    text-align: center;
                }

                & td:nth-child(5) {
                    width: 200px;
                    text-align: center;
                }

                & td:nth-child(6) {
                    text-align: center;
                }

                & td {

                    &.action {
                        width: 70px;
                        padding: 0.3rem 0.5rem;

                        & form {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            & button {
                                line-height: unset;
                                font-size: 1.5rem;
                                border: none;
                                background: none;
                            }
                        }
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        & i {
                        font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
