// Variables
@import 'variables';

html {
    min-width: 100vw !important;
    min-height: 100vh !important;
}

main {
    & #user-box {
        margin: 50px 100px auto 100px;
        flex-direction: column;
        justify-content: center;

        & .card-group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;

            & .card {
                background-color: rgba(134, 134, 134, 0.11);

                & .header-card {
                    align-self: center;

                    & i {
                        margin: 20px 0;
                        font-size: 5rem;
                    }

                    & img {
                        margin: 20px 0;
                        height: 80px;
                    }
                }

                & .body-card {
                    border-top: 1px solid rgba(0, 0, 0, 0.08);
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    min-height: 140px;

                    & h5, p {
                        margin-top: 10px;
                        text-align: center;
                    }

                    & p {
                        color: $text-color;
                    }

                    & button {
                        margin: auto 70px 20px;
                        border-radius: 15px;
                        background-color: rgba(0, 0, 0, 0.07);
                        border-color: rgba(0, 0, 0, 0.07);
                        white-space: nowrap;
                    }
                }
            }
        }

        @media(max-width: 1190px) {
            & {
                margin: 50px 50px auto 50px;

                & .card-group {
                    grid-template-columns: 1fr;
                    grid-gap: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & .card {
                        border: 1px solid rgba(0, 0, 0, 0.07);
                        max-width: 500px;
                        min-width: 300px;
                    }
                }
            }
        }

        & #lock {
            margin-top: 20px;
            display: flex;
            justify-content: center;

            & div {
                background-color: rgba(134, 134, 134, 0.11);
                border: 1px solid rgba(0, 0, 0, 0.125);
                min-width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & i {
                    font-size: 7rem;
                    text-align: center;
                    margin: 20px auto;
                    color: goldenrod;
                }

                & #role {
                    background-color: #ffffff;

                    & span {
                        text-align: center;
                        margin: 10px auto;
                        background-color: rgba(0, 0, 0, 0.07);
                        border: 1px solid rgba(0, 0, 0, 0.07);
                        border-radius: 15px;
                        padding: 1px 10px;
                    }

                    & div {
                        display: flex;
                        flex-direction: row;
                        background-color: #ffffff;
                        border: none;

                        & i {
                            font-size: 2rem;
                        }

                        & i:nth-child(1) {
                            color: #000000;
                        }

                        & i:nth-child(2) {
                            color: #019fe8;
                        }

                        & i:nth-child(3) {
                            color: #90c100;
                        }

                        & i:nth-child(4) {
                            color: #9ea8ae;
                        }
                    }
                }
            }
        }
    }
}
