@import url(https://fonts.googleapis.com/css?family=Nunito);
#content-table {
  margin: 50px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc, 5px 5px 10px #ccc;
}
#content-table table {
  margin: 0;
}
